* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --Hero-bg: rgb(233, 247, 234);
  --Button-color: rgb(255, 92, 0);
  --footer-bg: rgb(56, 79, 70);
  --product-bg: rgb(244, 243, 241);
  --text-color: rgb(39, 41, 39);
  --order-color: rgb(49, 113, 84);
  --colorText: rgb(245, 177, 2);
}
